{% extends "base.html" %}

{% block style %}
<link href="/static/css/detail.css" rel="stylesheet">
{% endblock %}


{% block body %}

<!-- Modal -->
<div class="modal fade" id="projectResult" tabindex="-1" role="dialog" aria-labelledby="projectResult" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">View Detail</h4>
      </div>
      <div class="modal-body">
        <h3>Server Data</h3>
        <div class="result-server-data"></div>
        <h3>Custom Data</h3>
        <div class="result-cookie"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1 class="main-title">The Result of Project {{ project_id }}</h1>
<div class="operate">
    <a href="##" onclick="makeSure()">Clean All</a>
    <a href="/users">Personal Center</a>
</div>
<div class="result-container">
    <table class="table table-striped">
        <thead>
            <tr class="result">
                <th class="center">#</th>
                <th class="center id">ID</th>
                <th class="center time">Got Time</th>
                <th class="center server-data">Server Data</th>
                <th class="center cookies">Custom Data</th>
                <th class="center">View</th>
                <th class="center">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for result in results %}
            <tr class="result">
                <td class="center"><input type="checkbox"></td>
                <td class="center id"><strong>{{ i }}</strong></td>
                <td class="time center">{{ result.got_time }}</td>
                <td class="server-data center">
                    <span class="line"><strong>IP Address: </strong>{{ result.server_data['Request-IP'] }}</span>
                    <span class="line"><strong>User-Agent: </strong>{{ result.server_data['User-Agent'] }}</span>
                </td>
                <td class="center cookies">
                    {% for i in result.raw_data.keys() %}
                        <span class="line"><strong>{{ i }}: </strong>{{ result.raw_data[i] }}</span>
                    {% endfor %}
                </td>
                <td class="center view"><a href="##">View</a></td>
                <td class="center"><a href="/projects/{{ project_id }}/results/{{ result.id  }}/delete">Delete</a></td>
            </tr>
            {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/detail.js"></script>
{% endblock %}
