{% extends "base.html" %}

{% block style %}
<style>
    .main-title {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #CCC;
    }

    .background-white {
        background: #FFF;
    }
</style>
{% endblock %}


{% block body %}
<!-- Modal -->
<div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="addProject" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a Project</h4>
      </div>
      <form method="POST" action="#">
      <div class="modal-body">
        <label>Project Name:</label><input name="name" class="form-control" type="text" placeholder="Project Name" />
        <label>Project Type:</label>
        <select class="form-control" name="type">
            {% for module in modules %}
                <option value="{{ module.id }}">{{ module.name }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<h1 class="main-title">{{ EMAIL }}</h1>
<div class="col-xs-6 col-sm-3 sidebar-offcanvas">
    <ul class="list-group">
        <h3 class="list-group-item-heading">Projects Manage</h3>
        <a href="#" class="list-group-item active">Projects List</a>
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#addProject">Add a Project</a>
    </ul>
    <ul class="list-group">
        <h3 class="list-group-item-heading">Module Manage</h3>
        <a href="#" class="list-group-item">Common Module</a>
        <a href="#" class="list-group-item">Personal Module</a>
        <a href="#" class="list-group-item">Add a Module</a>
    </ul>
    <ul class="list-group">
        <h3 class="list-group-item-heading">Personal Settings</h3>
        <a href="#" class="list-group-item">Settings</a>
        <a href="#" class="list-group-item">Change Password</a>
        <a href="/logout" class="list-group-item">Logout</a>
    </ul>
</div>

<div class="col-xs-12 col-sm-9 background-white">
    <h3>{{ function_title }}</h3>
    <h3>Projects List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Project Type</th>
                <th>Created Time</th>
                <th>Results</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td><a href="/{{ project.id }}">{{ project.name }}</a></td>
                <td><a href="#">{{ project.type_name }}</a></td>
                <td>{{ project.created_date }}</td>
                <td><a href="/result/{{ project.id }}">View Result</a></td>
                <td><a href="/delete/project/{{ project.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}